{% extends "common/base.html" %}
{% block content %}

<div class="hero is-primary hero-body">
    <div class="container">
        <h1 class="title is-family-display">Welcome Home2!</h1>
    </div>
</div>

<div class="columns">
    <div class="column">
        <p><a href="https://fonts.google.com/specimen/Lora" class="is-visited">Family "Averia Serif Libre"</a></p>
        <p>
        “Reality is fundamentally responsible for class divisions,” says Sontag.
        However, the subject is interpolated into a capitalist paradigm of context that
        includes sexuality as a reality. Many depatriarchialisms concerning capitalist
        discourse exist.
        </p>
        <p>
        The main theme of the works of Pynchon is a self-sufficient paradox. But the
        premise of Lacanist obscurity suggests that language serves to oppress the
        Other. Sartre suggests the use of the capitalist paradigm of context to read
        and deconstruct society.
        </p>
        <p>
        However, the subject is contextualised into a social realism that includes
        consciousness as a reality. Sontag promotes the use of capitalist discourse to
        challenge the status quo.
        </p>
        <p>
        But Debord uses the term ‘subsemantic discourse’ to denote the common ground
        between class and society. The rubicon, and therefore the stasis, of the
        capitalist paradigm of context intrinsic to Pynchon’s Vineland is also
        evident in V.
        </p>
    </div>
    
    <div class="column is-family-body">
        <p>Family "Inter"</p>
        <p>
        “Reality is fundamentally responsible for class divisions,” says Sontag.
        However, the subject is interpolated into a capitalist paradigm of context that
        includes sexuality as a reality. Many depatriarchialisms concerning capitalist
        discourse exist.
        </p>
        <p>
        The main theme of the works of Pynchon is a self-sufficient paradox. But the
        premise of Lacanist obscurity suggests that language serves to oppress the
        Other. Sartre suggests the use of the capitalist paradigm of context to read
        and deconstruct society.
        </p>
        <p>
        However, the subject is contextualised into a social realism that includes
        consciousness as a reality. Sontag promotes the use of capitalist discourse to
        challenge the status quo.
        </p>
        <p>
        But Debord uses the term ‘subsemantic discourse’ to denote the common ground
        between class and society. The rubicon, and therefore the stasis, of the
        capitalist paradigm of context intrinsic to Pynchon’s Vineland is also
        evident in V.
        </p>
    </div>
</div>

<div class="columns">
    <div class="column is-family-body">
        <p>Family "Karla"</p>
        <p>
        “Reality is fundamentally responsible for class divisions,” says Sontag.
        However, the subject is interpolated into a capitalist paradigm of context that
        includes sexuality as a reality. Many depatriarchialisms concerning capitalist
        discourse exist.
        </p>
        <p>
        The main theme of the works of Pynchon is a self-sufficient paradox. But the
        premise of Lacanist obscurity suggests that language serves to oppress the
        Other. Sartre suggests the use of the capitalist paradigm of context to read
        and deconstruct society.
        </p>
        <p>
        However, the subject is contextualised into a social realism that includes
        consciousness as a reality. Sontag promotes the use of capitalist discourse to
        challenge the status quo.
        </p>
        <p>
        But Debord uses the term ‘subsemantic discourse’ to denote the common ground
        between class and society. The rubicon, and therefore the stasis, of the
        capitalist paradigm of context intrinsic to Pynchon’s Vineland is also
        evident in V.
        </p>
    </div>
    
    <div class="column is-family-body">
        <p>Family "Lora"</p>
        <p>
        “Reality is fundamentally responsible for class divisions,” says Sontag.
        However, the subject is interpolated into a capitalist paradigm of context that
        includes sexuality as a reality. Many depatriarchialisms concerning capitalist
        discourse exist.
        </p>
        <p>
        The main theme of the works of Pynchon is a self-sufficient paradox. But the
        premise of Lacanist obscurity suggests that language serves to oppress the
        Other. Sartre suggests the use of the capitalist paradigm of context to read
        and deconstruct society.
        </p>
        <p>
        However, the subject is contextualised into a social realism that includes
        consciousness as a reality. Sontag promotes the use of capitalist discourse to
        challenge the status quo.
        </p>
        <p>
        But Debord uses the term ‘subsemantic discourse’ to denote the common ground
        between class and society. The rubicon, and therefore the stasis, of the
        capitalist paradigm of context intrinsic to Pynchon’s Vineland is also
        evident in V.
        </p>
    </div>
</div>

<div class="tile is-ancestor ">
    <div class="tile is-vertical is-parent is-3">
        <div class="tile is-child notification is-danger">DANGER</div>
        <div class="tile is-child notification is-success">SUCCESS</div>
    </div>
    <div class="tile is-vertical is-parent is-4">
        <div class="tile is-child notification is-warning">WARNING</div>
        <div class="tile is-child notification is-info">INFO</div>
    </div>
    <div class="tile is-parent is-3">
        <div class="tile is-child notification is-link">LINK</div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child notification is-primary">PRIMARY</div>
    </div>
</div>


<article class="panel is-primary">
  <p class="panel-heading">
    Primary
  </p>
  <p class="panel-tabs">
    <a class="is-active">All</a>
    <a>Public</a>
    <a>Private</a>
    <a>Sources</a>
    <a>Forks</a>
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-danger" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
  <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    bulma
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    marksheet
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    minireset.css
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    jgthms.github.io
  </a>
</article>
{% endblock content %}